@charset "UTF-8";
:root {
  --font-family: "Century Gothic", sans-serif;
  --content-width: 1590px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --mainblack-color: #444649;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Century Gothic";
  src: url("../fonts/../fonts/centurygothic_regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Century Gothic";
  src: url("../fonts/../fonts/centurygothic_bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Kotto One";
  src: url("../fonts/../fonts/KottaOne.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
  caret-color: transparent;
}

.page__body {
  position: relative;
  margin: 0;
  min-width: 375px;
  min-height: 100%;
  font-size: 16px;
  font-weight: 400;
  color: var(--mainblack-color);
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}
@media (max-width: 1200px) {
  .container {
    max-width: 90%;
  }
}
@media (max-width: 576px) {
  .container {
    max-width: none;
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.header {
  position: relative;
  height: 1px;
}
.header__wrapper {
  position: absolute;
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  z-index: 10000;
  padding: 52px 0;
}
@media (max-width: 576px) {
  .header__wrapper {
    padding: 15px 0;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
.header__logo {
  position: relative;
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.header__logo:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.header__logo-text {
  font-family: "Kotto One", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  color: #fff;
  margin: 0 0 0 50px;
}

.nav__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav__list::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #545252;
  display: none;
}
@media (max-width: 1024px) {
  .nav__list {
    position: fixed;
    inset: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    z-index: 500;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 200px 40px 15px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  .nav__list::before {
    display: block;
  }
}
@media (max-width: 576px) {
  .nav__list {
    padding: 140px 15px 15px;
  }
}
.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
.nav__item:not(:last-child) {
  margin: 0 40px 0 0;
}
@media (max-width: 1024px) {
  .nav__item:not(:last-child) {
    margin: 0 0 30px 0;
  }
}
@media (max-width: 576px) {
  .nav__item:not(:last-child) {
    margin: 0 0 18px 0;
  }
}
.nav__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #fff;
  white-space: nowrap;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.nav__link::after {
  content: "";
  display: block;
  margin: 0 0 0 20px;
  width: 12px;
  height: auto;
  background-image: url("../img/icons/arrow-link.svg");
  background-position: center center;
  background-repeat: no-repeat;
  display: none;
}
@media (max-width: 1024px) {
  .nav__link::after {
    display: block;
  }
}
@media (max-width: 1024px) {
  .nav__link {
    font-size: 24px;
    line-height: 133%;
  }
}
.nav__link:hover {
  color: #f28f1b;
}

.menu--active .nav__list {
  opacity: 1;
  visibility: visible;
}
.menu--active .nav__link {
  color: #000;
}

.burger {
  --burger-width: 30px;
  --burger-height: 18px;
  --burger-line-height: 2px;
  display: none;
}
@media (max-width: 1024px) {
  .burger {
    position: relative;
    display: block;
    border: none;
    padding: 0;
    width: var(--burger-width);
    height: var(--burger-height);
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    z-index: 10000;
  }
  .burger::before, .burger::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: var(--burger-line-height);
    background-color: currentColor;
    -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  }
  .burger::before {
    top: 0;
  }
  .burger::after {
    top: calc(100% - var(--burger-line-height));
  }
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.hero {
  position: relative;
  z-index: 10;
}
.hero__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  min-height: 700px;
  background-color: #fff;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
  z-index: 1;
}
.hero__bg {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.hero__bg img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
.hero__bg::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.hero__container {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.hero__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  z-index: 10;
  margin: 200px 0 100px 0;
}
@media (max-width: 1024px) {
  .hero__body {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .hero__body {
    max-width: none;
  }
}
.hero__title {
  font-weight: 700;
  font-size: 84px;
  line-height: 140%;
  color: #fff;
  margin: 0 0 50px 0;
}
@media (max-width: 576px) {
  .hero__title {
    font-size: 34px;
  }
}
.hero__descr {
  font-size: 36px;
  line-height: 140%;
  color: #fff;
  margin: 0 0 20px 0;
}
@media (max-width: 576px) {
  .hero__descr {
    font-size: 18px;
  }
}
.hero__descr-2 {
  margin: 0 0 50px 0;
}
.hero__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 300px;
  height: 60px;
  border-radius: 24px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  padding: 5px 10px;
  color: #fff;
  background-color: #2570a6;
  margin: 0 0 40px 0;
  -webkit-box-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #000;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
.hero__link:hover {
  -webkit-box-shadow: 0 0 20px #000, 0 0 40px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 20px #000, 0 0 40px rgba(0, 0, 0, 0.6);
}

.sci {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
@media (max-width: 576px) {
  .sci {
    gap: 40px;
  }
}
.sci__link {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 55px;
  height: 55px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.sci__link:hover {
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
}
.sci__image {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.map {
  padding: 100px 0 0 0;
}
.map__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  margin: 0 0 70px 0;
}
.map__text {
  font-size: 24px;
  line-height: 140%;
  color: #444649;
  margin: 0;
}
@media (max-width: 767.9px) {
  .map__text {
    font-size: 16px;
  }
}
.map__wrapper {
  position: relative;
  width: 100%;
  height: 559px;
  max-width: 1920px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  padding: 0;
  z-index: 10;
  background-color: #fff;
  background-image: url("../img/map.png");
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}
@media (max-width: 767.9px) {
  .map__wrapper {
    height: 331px;
  }
}
.map__box {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 548px;
  background-color: transparent;
  cursor: pointer;
}
@media (max-width: 767.9px) {
  .map__box {
    height: 331px;
  }
}

[class*=copyrights-pane] {
  display: none !important;
}

/* Индикатор загрузки, который показывается до загрузки карты */
.loader {
  position: absolute;
  z-index: 15;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #000000;
  -webkit-transition: opacity 0.7s ease, visibility 0.7s ease;
  -o-transition: opacity 0.7s ease, visibility 0.7s ease;
  transition: opacity 0.7s ease, visibility 0.7s ease;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.55);
}

.loader.is-active {
  top: 0;
  opacity: 1;
  visibility: visible;
}

.loader-default:after {
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
  width: 48px;
  height: 48px;
  content: "";
  -webkit-animation: rotation 1s linear infinite;
  animation: rotation 1s linear infinite;
  border: solid 8px #ffffff;
  border-left-color: transparent;
  border-radius: 50%;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.tabs .tabs__nav-btn--active {
  background-color: #ff0001;
}
.tabs .tabs__panel {
  display: none;
}
.tabs .tabs__panel--active {
  display: block;
}

.news__wrapper {
  padding: 100px 0;
}
@media (max-width: 576px) {
  .news__wrapper {
    padding: 40px 0;
  }
}
.news__bg {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 0.45;
}
.news__bg img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
.news__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.news__descr {
  font-size: 18px;
  line-height: 140%;
}

.about {
  padding: 100px 0;
}
.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.about__descr {
  font-size: 18px;
  line-height: 140%;
}

.title {
  font-weight: 700;
  font-size: 42px;
  line-height: 140%;
  color: #444649;
  text-align: center;
  margin: 0 0 40px 0;
  text-transform: uppercase;
}
@media (max-width: 767.9px) {
  .title {
    font-size: 28px;
  }
}

.rules__wrapper {
  padding: 100px 0;
}
@media (max-width: 576px) {
  .rules__wrapper {
    padding: 40px 0;
  }
}
.rules__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.rules__title {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}
@media (max-width: 576px) {
  .rules__title {
    margin: 0 0 30px 0;
  }
}
.rules__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.rules__image {
  position: relative;
  width: 900px;
  height: 600px;
  margin: 0 0 50px 0;
}
.rules__image img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 1024px) {
  .rules__image {
    width: 100%;
    height: 450px;
  }
}
@media (max-width: 576px) {
  .rules__image {
    height: 300px;
  }
}
.rules__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  max-width: 900px;
  margin: 0 0 40px 0;
}
@media (max-width: 1024px) {
  .rules__body {
    max-width: none;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .rules__body {
    margin: 0 0 20px 0;
  }
}
.rules__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.rules__descr-text {
  font-size: 18px;
  color: var(--mainblack-color);
  margin: 0 0 20px 0;
}
@media (max-width: 576px) {
  .rules__descr-text {
    font-size: 16px;
    margin: 0 0 10px 0;
  }
}
.rules__descr-title {
  font-weight: 700;
  font-size: 18px;
  color: var(--mainblack-color);
  margin: 0 0 30px 0;
}
@media (max-width: 576px) {
  .rules__descr-title {
    font-size: 16px;
    margin: 0 0 20px 0;
  }
}
.rules__descr-image {
  width: 500px;
  height: auto;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
@media (max-width: 1024px) {
  .rules__descr-image {
    width: 320px;
  }
}
@media (max-width: 767.9px) {
  .rules__descr-image {
    width: 220px;
  }
}
.rules__descr-image-big {
  width: 250px;
  height: auto;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
@media (max-width: 1024px) {
  .rules__descr-image-big {
    width: 200px;
  }
}
@media (max-width: 767.9px) {
  .rules__descr-image-big {
    width: 150px;
  }
}
.rules__link {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 700;
  font-size: 20px;
  margin: 0 0 20px 0;
  color: var(--mainblack-color);
  max-width: 750px;
}
.rules__link::after {
  content: "→";
  position: absolute;
  top: 0;
  right: -35px;
  color: var(--mainblack-color);
  -webkit-transition: right 0.3s ease-in-out;
  -o-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out;
}
.rules__link:hover {
  text-decoration: underline;
}
.rules__link:hover::after {
  right: -45px;
}
@media (max-width: 576px) {
  .rules__link {
    font-size: 16px;
  }
}
.rules__tactic-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 576px) {
  .rules__tactic-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.links__wrapper {
  padding: 100px 0;
}
@media (max-width: 576px) {
  .links__wrapper {
    padding: 40px 0;
  }
}
.links__bg {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.links__bg img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
.links__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  z-index: 2;
}
.links__title {
  color: #f6f5f3;
}
.links__box-doc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 50px;
  border-bottom: 1px solid #f6f5f3;
  padding: 0 0 10px 0;
}
@media (max-width: 576px) {
  .links__box-doc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
  }
}
.links__descr {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 35%;
  flex: 0 0 35%;
  font-size: 18px;
  line-height: 140%;
  color: #f6f5f3;
  margin: 0;
}
@media (max-width: 767.9px) {
  .links__descr {
    font-size: 16px;
  }
}
.links__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  color: #c1c1c1;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
@media (max-width: 767.9px) {
  .links__link {
    font-size: 16px;
  }
}
.links__link:hover {
  text-decoration: underline;
  color: #f64b38;
}
.links__block-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}
.links__doc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 30px;
  padding: 0 150px;
  margin: 0 0 40px 0;
}
@media (max-width: 1200px) {
  .links__doc {
    padding: 0;
  }
}
.links__link-title {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  color: #f6f5f3;
  margin: 0 0 40px 0;
}
.links__servers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 100%;
  margin: 0 0 100px 0;
}
@media (max-width: 1140px) {
  .links__servers {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    margin: 0 0 80px 0;
  }
}
@media (max-width: 768px) {
  .links__servers {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
    margin: 0 0 50px 0;
  }
}
.links__block {
  position: relative;
  width: 100%;
  height: 350px;
  -webkit-box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.links__block:hover {
  -webkit-box-shadow: 20px 15px 15px rgba(0, 0, 0, 0.6);
  box-shadow: 20px 15px 15px rgba(0, 0, 0, 0.6);
}
@media (max-width: 1440px) {
  .links__block {
    height: 300px;
  }
}
@media (max-width: 1024px) {
  .links__block {
    height: 250px;
  }
}
@media (max-width: 768px) {
  .links__block {
    height: 350px;
  }
}
@media (max-width: 576px) {
  .links__block {
    height: 250px;
  }
}
@media (max-width: 480px) {
  .links__block {
    height: 200px;
  }
}
.links__image {
  position: absolute;
  inset: 0;
}
.links__image img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.links__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.links__box::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
.links__box:hover {
  opacity: 1;
}
@media (max-width: 1024px) {
  .links__box {
    opacity: 1;
  }
}
.links__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.links__title-card {
  position: relative;
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  z-index: 10;
  text-transform: uppercase;
  margin: 30px 0 50px 0;
}
@media (max-width: 1024px) {
  .links__title-card {
    font-size: 24px;
    margin: 0 0 20px 0;
  }
}
@media (max-width: 480px) {
  .links__title-card {
    font-size: 18px;
    margin: 0 0 10px 0;
  }
}
.links__descr-card {
  font-size: 20px;
  color: #fff;
  z-index: 10;
  margin: 0px 0 40px 0;
}
@media (max-width: 1024px) {
  .links__descr-card {
    font-size: 18px;
    margin: 0 0 20px 0;
  }
}
@media (max-width: 480px) {
  .links__descr-card {
    font-size: 16px;
    margin: 0 0 10px 0;
  }
}
.links__tech-card {
  color: #fff;
  z-index: 10;
  margin: 0px 0 20px 0;
}
@media (max-width: 1024px) {
  .links__tech-card {
    font-size: 14px;
    margin: 0 0 20px 0;
  }
}
@media (max-width: 480px) {
  .links__tech-card {
    font-size: 14px;
    margin: 0 0 20px 0;
  }
}
.links__button-card {
  margin: 0 0 25px 0;
  padding: 20px;
  color: #fff;
  z-index: 10;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.tabs__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 50px;
  margin: 0 0 40px 0;
}
@media (max-width: 576px) {
  .tabs__nav {
    gap: 20px;
  }
}
.tabs__nav-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  background-color: #67e667;
  border-radius: 24px;
}
@media (max-width: 576px) {
  .tabs__nav-btn {
    font-size: 18px;
    padding: 5px 10px;
  }
}
.tabs .tabs__nav-btn--active {
  background-color: #ffff73;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
  min-height: 750px;
}
@media (max-width: 576px) {
  .wrapper {
    min-height: 450px;
  }
}

.panel-tabs__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  border: 1px solid var(--mainblack-color);
  padding: 10px;
  margin: 0 0 20px 0;
}
@media (max-width: 1024px) {
  .panel-tabs__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
}
.panel-tabs__image {
  display: block;
  position: relative;
  width: 450px;
  height: 350px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.panel-tabs__image img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 1200px) {
  .panel-tabs__image {
    width: 350px;
    height: 250px;
  }
}
@media (max-width: 576px) {
  .panel-tabs__image {
    width: 320px;
    height: 220px;
  }
}
.panel-tabs__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  margin: 0 0 30px 0;
}
@media (max-width: 576px) {
  .panel-tabs__title {
    margin: 0 0 20px 0;
  }
}
.panel-tabs__descr {
  margin: 0 0 40px 0;
}
@media (max-width: 576px) {
  .panel-tabs__descr {
    margin: 0 0 20px 0;
  }
}
.panel-tabs__text {
  font-size: 18px;
  line-height: 140%;
  margin: 0 0 15px 0;
}
@media (max-width: 576px) {
  .panel-tabs__text {
    font-size: 16px;
    margin: 0 0 5px 0;
  }
}
.panel-tabs__link {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  margin: 0 0 15px 0;
  color: #85004b;
}
.panel-tabs__link:hover {
  text-decoration: underline;
}
@media (max-width: 576px) {
  .panel-tabs__link {
    font-size: 16px;
  }
}
.panel-tabs__date {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  margin: 0;
}

.tabs-calendar__content {
  border: 1px solid var(--mainblack-color);
}
.tabs-calendar__header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 1fr 150px;
  grid-template-columns: 300px 1fr 150px;
}
@media (max-width: 1024px) {
  .tabs-calendar__header {
    -ms-grid-columns: 170px 1fr 150px;
    grid-template-columns: 170px 1fr 150px;
  }
}
@media (max-width: 767.9px) {
  .tabs-calendar__header {
    -ms-grid-columns: 170px 1fr 100px;
    grid-template-columns: 170px 1fr 100px;
  }
}
@media (max-width: 576px) {
  .tabs-calendar__header {
    -ms-grid-columns: 110px 1fr 100px;
    grid-template-columns: 110px 1fr 100px;
  }
}
.tabs-calendar__heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: inherit;
  margin: 0;
}
@media (max-width: 1024px) {
  .tabs-calendar__heading {
    font-size: 18px;
  }
}
.tabs-calendar__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 300px 1fr 150px;
  grid-template-columns: 300px 1fr 150px;
}
@media (max-width: 1024px) {
  .tabs-calendar__item {
    -ms-grid-columns: 170px 1fr 150px;
    grid-template-columns: 170px 1fr 150px;
  }
}
@media (max-width: 767.9px) {
  .tabs-calendar__item {
    -ms-grid-columns: 170px 1fr 100px;
    grid-template-columns: 170px 1fr 100px;
  }
}
@media (max-width: 576px) {
  .tabs-calendar__item {
    -ms-grid-columns: 110px 1fr 100px;
    grid-template-columns: 110px 1fr 100px;
  }
}
.tabs-calendar__grid-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid var(--mainblack-color);
  padding: 20px;
  margin: 0;
}
@media (max-width: 1024px) {
  .tabs-calendar__grid-item {
    padding: 15px 5px;
  }
}
.tabs-calendar__date {
  font-size: 18px;
  line-height: 1.4;
  color: inherit;
}
@media (max-width: 1024px) {
  .tabs-calendar__date {
    font-size: 16px;
  }
}
.tabs-calendar__link {
  font-size: 18px;
  line-height: 1.4;
  color: #85004b;
}
.tabs-calendar__link:hover {
  text-decoration: underline;
}
@media (max-width: 1024px) {
  .tabs-calendar__link {
    font-size: 16px;
  }
}
.tabs-calendar__city {
  font-size: 18px;
  line-height: 1.4;
  color: inherit;
}
@media (max-width: 1024px) {
  .tabs-calendar__city {
    font-size: 16px;
  }
}

.arrow-up {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  cursor: pointer;
  z-index: 10000;
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out, -webkit-transform 0.7s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out, -webkit-transform 0.7s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out, transform 0.7s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, transform 0.7s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, transform 0.7s ease-in-out, -webkit-box-shadow 0.3s ease-in-out, -webkit-transform 0.7s ease-in-out;
}
.arrow-up:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.arrow-up svg {
  width: 35px;
  height: 35px;
  fill: #222222;
}
@media (max-width: 1024px) {
  .arrow-up {
    width: 50px;
    height: 50px;
  }
  .arrow-up svg {
    width: 25px;
    height: 25px;
  }
}

.arrow-up--hide {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.modal {
  --transition-time: 0.3s;
  position: fixed;
  inset: 0;
  z-index: 100000;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity var(--transition-time), visibility var(--transition-time);
  -o-transition: opacity var(--transition-time), visibility var(--transition-time);
  transition: opacity var(--transition-time), visibility var(--transition-time);
}
.modal__content {
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px;
}
@media (max-width: 768px) {
  .modal__content {
    padding: 20px 0 0 0;
  }
}
.modal__image {
  position: relative;
  width: 900px;
  height: 500px;
  overflow: hidden;
  border: 1px solid var(--second-text);
  -webkit-box-shadow: 0 0 15px #000;
  box-shadow: 0 0 15px #000;
  margin: 20px 0 30px;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  -o-transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}
.modal__image img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.modal__image:hover {
  -webkit-box-shadow: 0 0 25px #000;
  box-shadow: 0 0 25px #000;
}
@media (max-width: 1024px) {
  .modal__image {
    width: 650px;
    height: 350px;
  }
}
@media (max-width: 768px) {
  .modal__image {
    width: 500px;
    height: 280px;
  }
}
@media (max-width: 600px) {
  .modal__image {
    width: 400px;
    height: 220px;
  }
}
@media (max-width: 480px) {
  .modal__image {
    width: 300px;
    height: 160px;
  }
}
@media (max-width: 360px) {
  .modal__image {
    width: 250px;
    height: 120px;
  }
}
.modal__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 20px 90px 40px;
  margin: 0 0 30px;
}
.modal__box::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 1px;
  background-color: var(--second-text);
}
@media (max-width: 1024px) {
  .modal__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .modal__box {
    padding: 20px 0px 40px;
  }
}
.modal__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 0 30px 0;
}
@media (max-width: 1024px) {
  .modal__row {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.modal__title {
  font-size: 48px;
  font-weight: 700;
  margin: 0 0 20px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .modal__title {
    font-size: 28px;
  }
}
.modal__descr {
  font-size: 20px;
  margin: 0 0 15px 0;
}
@media (max-width: 768px) {
  .modal__descr {
    font-size: 18px;
  }
}
.modal__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 300px;
  height: 70px;
  background-color: #e44545;
  color: #fff;
  font-size: 20px;
  padding: 15px 25px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0 0 10px #e44545;
  box-shadow: 0 0 10px #e44545;
}
.modal__link svg {
  fill: #fff;
  margin-right: 15px;
}
.modal__link:hover {
  background-color: #ee5b5b;
  -webkit-box-shadow: 0 0 15px #e44545;
  box-shadow: 0 0 15px #e44545;
}
@media (max-width: 1024px) {
  .modal__link {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .modal__link {
    font-size: 18px;
    height: 50px;
    font-size: 18px;
    width: 70%;
  }
}
@media (max-width: 480px) {
  .modal__link {
    font-size: 16px;
  }
}
.modal__text {
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  padding: 0 30px;
  margin: 0 0 30px;
}
.modal__text p {
  margin: 0;
}
.modal__text p:not(:last-child) {
  margin: 0 0 20px 0;
}
@media (max-width: 768px) {
  .modal__text {
    font-size: 14px;
    padding: 0;
  }
  .modal__text p:not(:last-child) {
    margin: 0 0 15px 0;
  }
}
.modal__text-link {
  color: #e44545;
}
.modal__text-link:hover {
  text-decoration: underline;
}
.modal__text-descr {
  -ms-flex-item-align: start;
  -ms-grid-row-align: start;
  align-self: start;
  padding: 10px 30px;
}
.modal__text-descr p {
  margin: 0;
}
.modal__text-descr p:not(:last-child) {
  margin: 0 0 15px 0;
}
@media (max-width: 768px) {
  .modal__text-descr {
    font-size: 14px;
    padding: 0;
  }
  .modal__text-descr p:not(:last-child) {
    margin: 0 0 10px 0;
  }
}

.modal::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.modal__container {
  position: relative;
  width: 1100px;
  min-height: 600px;
  margin: 10px auto;
  display: none;
  vertical-align: middle;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  cursor: default;
  text-align: left;
}

@media (max-width: 1150px) {
  .modal__container {
    width: 90%;
  }
}
.modal.is-open {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity var(--transition-time), visibility var(--transition-time);
  -o-transition: opacity var(--transition-time), visibility var(--transition-time);
  transition: opacity var(--transition-time), visibility var(--transition-time);
}

.modal__container.modal-open {
  display: inline-block;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity var(--transition-time);
  -o-transition: opacity var(--transition-time);
  transition: opacity var(--transition-time);
}

.fade.animate-open {
  opacity: 1;
  -webkit-transition: opacity var(--transition-time);
  -o-transition: opacity var(--transition-time);
  transition: opacity var(--transition-time);
}

.fadeInUp {
  opacity: 0;
  -webkit-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  transform: translateY(-100px);
  -webkit-transition: opacity var(--transition-time), -webkit-transform var(--transition-time);
  transition: opacity var(--transition-time), -webkit-transform var(--transition-time);
  -o-transition: opacity var(--transition-time), transform var(--transition-time);
  transition: opacity var(--transition-time), transform var(--transition-time);
  transition: opacity var(--transition-time), transform var(--transition-time), -webkit-transform var(--transition-time);
}

.fadeInUp.animate-open {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: opacity var(--transition-time), -webkit-transform var(--transition-time);
  transition: opacity var(--transition-time), -webkit-transform var(--transition-time);
  -o-transition: opacity var(--transition-time), transform var(--transition-time);
  transition: opacity var(--transition-time), transform var(--transition-time);
  transition: opacity var(--transition-time), transform var(--transition-time), -webkit-transform var(--transition-time);
}

.disable-scroll {
  position: relative;
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.modal-close {
  position: absolute;
  right: 16px;
  top: 16px;
  border: none;
  padding: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512.001 512.001' style='enable-background:new 0 0 512.001 512.001;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717 L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859 c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287 l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285 L284.286,256.002z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
  cursor: pointer;
}

.btn {
  position: relative;
  width: 270px;
  height: 60px;
  background-color: transparent;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 13px 25px;
}
@media (max-width: 1024px) {
  .btn {
    height: 50px;
  }
}
@media (max-width: 576px) {
  .btn {
    width: 180px;
    height: 40px;
    padding: 0 5px;
  }
}
.btn span {
  position: relative;
  color: #fff;
  z-index: 2;
  font-size: 20px;
  font-family: inherit;
}
@media (max-width: 1024px) {
  .btn span {
    font-size: 18px;
  }
}
@media (max-width: 576px) {
  .btn span {
    font-size: 16px;
  }
}
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 20px;
  height: 60px;
  background-color: #faaf52;
  -webkit-transition: width 0.3s ease-in-out, -webkit-box-shadow 1s ease-in-out;
  transition: width 0.3s ease-in-out, -webkit-box-shadow 1s ease-in-out;
  -o-transition: width 0.3s ease-in-out, box-shadow 1s ease-in-out;
  transition: width 0.3s ease-in-out, box-shadow 1s ease-in-out;
  transition: width 0.3s ease-in-out, box-shadow 1s ease-in-out, -webkit-box-shadow 1s ease-in-out;
}
@media (max-width: 1024px) {
  .btn::before {
    height: 50px;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .btn::before {
    height: 40px;
  }
}
.btn:hover::before {
  width: 100%;
  -webkit-box-shadow: 0 0 15px #faaf52;
  box-shadow: 0 0 15px #faaf52;
}

.footer__wrapper {
  background-color: #a600a6;
  padding: 100px 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
}
.footer__container {
  width: 100%;
  height: 100%;
}
.footer__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1100px) {
  .footer__body {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
  }
}
@media (max-width: 767.9px) {
  .footer__body {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}
.footer__title {
  font-family: "Kotto One", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  white-space: nowrap;
}
.footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 114%;
  color: #fff;
  margin: 0 0 10px 0;
}
.footer__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 114%;
  color: #ffdb4d;
  margin: 0;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.footer__link:hover {
  text-decoration: underline;
  color: #f82525;
}